SCRIPT_PATH=`realpath "${BASH_SOURCE[0]})"`

PATH_add ./bin
PATH_add ./scripts

export KUBE_VERSION="1.27.0"
export PROJECT_DIR=`dirname "${SCRIPT_PATH}"`
export KUBECONFIG="${PROJECT_DIR}/kube/config"
export KIND_CLUSTER_NAME="my-cluster"
